@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Montserrat:wght@500&display=swap');

body{
    background-color: whitesmoke;
}
html{
   scroll-behavior: smooth;
   scroll-padding-top: 5rem;
}
.ff-barlow{
    font-family: 'Barlow Condensed', sans-serif;
}

.ff-monsterot{
    font-family: 'Montserrat', sans-serif;
}

.marquee_container > *{
    transform: translateX(-180px);
}

.hire:hover .arrow{
    position: absolute;
    width: 100%;
}
.image_container,.project-container,.hero-section{
    isolation: isolate;
}
.image_container > *, .project-container > *,.hero-section > *{
    grid-column: 1/-1;
    grid-row: 1/-1;
}
.steps{
    overflow-y: hidden;
    align-content: center;
}
/* .steps > li{
    display: flex;
    justify-self: start;
} */
.step.active::after{
    background: slategray !important;
}
.step.active::before{
    background: slategray !important;
}
.projects{
    grid-template-columns:  repeat(auto-fit,minmax(200px,1fr));
}
.project-thumbnails {

    height: 200px;
    cursor: pointer;
}

.school::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    background-image: url("../src/assets/bg-1.png");
    background-size: cover;
    background-position: center;
}

.school > *{
    grid-column: 1/-1;
    grid-row: 1/-1;
}

